

// Colors
$color-white: #ffffff;
$color-grey-light: #eaeaea;    
$color-grey-mid: #d3d3d3;    
$color-grey-dark: #909090;    
$color-black: #474747;     
$color-red-light: #b03737;
$color-red-dark: #912c2c;
